<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Language</title>
</head>
<body>
<h1>Create a new language</h1>
<h1>
    <ul>
        <li>
            <a href="/create_framework_type">Create Framework Type</a>
        </li>
        <li>
            <a href="/create_framework">Create Framework</a>
        </li>
        <li>
            <a href="/">Create Language</a>
        </li>

    </ul>
</h1>

<h1>
    <ul>
        <li>
            <a href="/api/language">Api Language</a>
        </li>
        <li>
            <a href="/api/framework">Api Framework</a>
        </li>
        <li>
            <a href="/api/framework_type">Framework type</a>
        </li>

    </ul>
</h1>

<form action="/addLanguage" method="post">
    <label for="language_name"></label>
    <input id="language_name" type="text" name="language_name">
    <button type="submit">Submit</button>
</form>
</body>
</html>